<doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contact
    body 
   
     
.container(style="margin:12px;padding:3px;background:black;")  
    h2(style="margin-left:80px;text-transform:uppercase;color:grey;") Contact Us
    
     a(style="text-transform:uppercase;color:orange;text-decoration:none;margin-left:14px;")(href="/")       Home   
     a(style="text-transform:uppercase;color:orange;text-decoration:none;margin-left:14px;")(href="#")     Contact Us  
     a(style="text-transform:uppercase;color:orange;text-decoration:none;margin-left:14px;")(href="/services")    Our Services 
div
    h1(style="text-transform:uppercase;color:grey;text-align:center;") Our Contacts 
    br
    br 
    p(style="margin:10px 200px;padding:5px;color:darkgrey;text-align:center;") Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vero eius nemo iure assumenda dolore! Nostrum architecto quidem rerum eius ullam deleniti laudantium perferendis sequi dolorum corrupti, quisquam temporibus eligendi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione delectus quas a! Dolores excepturi optio nam perspiciatis, at ipsum deleniti nostrum rem velit molestiae magnam unde, odio dolorum doloremque totam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas similique quia, ipsam veniam ad debitis cum magni, dolore, at rerum tenetur. Saepe dolorum natus consequuntur, quisquam quasi voluptatibus aspernatur voluptas.

