<doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
       
        title Home
             
    body 

   
        .container(style="margin:12px;padding:3px;background:black;")
         h2(style="margin-left:80px;text-transform:uppercase;color:grey;") Home Page
    
            a(style="text-transform:uppercase;color:orange;text-decoration:none;margin-left:14px;")(href="/")       Home   
            a(style="text-transform:uppercase;color:orange;text-decoration:none;margin-left:14px;")(href="/contact")     Contact Us  
            a(style="text-transform:uppercase;color:orange;text-decoration:none;margin-left:14px;")(href="/services")    Our Services  

    div 
            h1(style="text-transform:uppercase;color:grey;text-align:center;") Welcome to our web Site 
            h2(style="text-transform:uppercase;color:lightgreen;text-align:center;") please dont forget to sign in 
