<doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Services
    body 
   
.container(style="margin:12px;padding:3px;background:black;") 
    h2(style="margin-left:80px;text-transform:uppercase;color:grey;") Our Services
    
     a(style="text-transform:uppercase;color:orange;text-decoration:none;margin-left:14px;")(href="/")       Home   
     a(style="text-transform:uppercase;color:orange;text-decoration:none;margin-left:14px;")(href="/contact")     Contact Us  
     a(style="text-transform:uppercase;color:orange;text-decoration:none;margin-left:14px;")(href="#")    Our Services  
    
div
h1(style="text-transform:uppercase;color:grey;text-align:center;") Our Services
p(style="margin:10px 200px;padding:5px;color:darkgrey;text-align:center;") Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vero eius nemo iure assumenda dolore! Nostrum architecto quidem rerum eius ullam deleniti laudantium perferendis sequi dolorum corrupti, quisquam temporibus eligendi.

div 
p(style="margin:10px 200px;padding:5px;color:darkgrey;text-align:center;")
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolorum similique praesentium earum dicta nihil eveniet perferendis eos, modi sed aperiam. Eveniet, deleniti! Perspiciatis beatae est veritatis, suscipit sint deleniti.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus minima sed cupiditate placeat. Eum ipsum eius sed quaerat eaque, consequatur molestiae commodi, nesciunt similique minima nostrum eveniet ullam, ab provident.
p(style="margin:10px 200px;padding:5px;color:darkgrey;text-align:center;")
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolorum similique praesentium earum dicta nihil eveniet perferendis eos, modi sed aperiam. Eveniet, deleniti! Perspiciatis beatae est veritatis, suscipit sint deleniti.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus minima sed cupiditate placeat. Eum ipsum eius sed quaerat eaque, consequatur molestiae commodi, nesciunt similique minima nostrum eveniet ullam, ab provident.
p(style="margin:10px 200px;padding:5px;color:darkgrey;text-align:center;")
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolorum similique praesentium earum dicta nihil eveniet perferendis eos, modi sed aperiam. Eveniet, deleniti! Perspiciatis beatae est veritatis, suscipit sint deleniti.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus minima sed cupiditate placeat. Eum ipsum eius sed quaerat eaque, consequatur molestiae commodi, nesciunt similique minima nostrum eveniet ullam, ab provident.